In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('vg_session1.csv')
print(df.shape)

(2075, 12)

In [4]:
df.head()

,sample id,signal strength,attention,meditation,delta,theta,low alpha,high alpha,low beta,high beta,low gamma,high gamma
0,4,0,34,78,415628,270927,73872,29689,40235,22693,3011,1928
1,5,0,27,66,310075,63831,4481,5885,4393,3647,768,364
2,6,0,13,41,62251,188588,8501,2151,2728,5478,1513,664
3,7,0,11,37,69792,70668,21516,13410,10925,10298,2699,1597
4,8,0,21,48,19222,12323,12281,4305,906,6246,1525,1530

In [6]:
df.tail()

,sample id,signal strength,attention,meditation,delta,theta,low alpha,high alpha,low beta,high beta,low gamma,high gamma
2070,2074,0,34,63,303821,34996,8056,10818,3851,1843,527,346
2071,2075,0,20,57,275760,146545,13900,9246,6508,3996,3352,1484
2072,2076,0,3,47,148474,37736,10114,4417,2603,1388,987,940
2073,2077,0,1,34,109458,249273,7194,28174,53815,16102,4685,1023
2074,2078,0,1,34,329902,115868,37515,33986,12673,8764,2659,1390